<connectionStrings>
  <add name="DefaultConnection"
       connectionString="Server=tcp:f20ndcmo0h.database.windows.net,1433;Database=bcms-demo_db;User ID=bcms-demo
@c4spwec2fb;Password=WzJkaf^J2AdYo0@p;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
</connectionStrings>

<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BetterCmsDemoGlobal;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>-->