@using dst_website.Models     
@using dst_website.Helpers        
@model IList<dst_website.Models.MenuItemViewModel>




@foreach (MenuItemViewModel item in Model)
{

    <li>
        <a href="@item.Url">@item.Caption</a>

        <div class="dmui_dropdown_block full_width" style="background-image: url(images/mega_menu_background.png); background-repeat:no-repeat; background-position:right;">
            <div class="dmui-container">
                <div class="dmui-col span3">
                    <div class="dmui-container">
                        <ul class="dmui-submenu">
                            <li>

                                @*@Html.RenderAction("SubMenu", "DSTSiteMap", new { area = string.Empty, item.Url});*@
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dmui-col span3">
                    <div class="dmui-container">
                        <ul class="dmui-submenu">
                            @*<li><a href="single_post.html">Single Post</a></li>
                            <li><a href="404.html">ERROR 404</a></li>
                            <li><a href="register.html">Register or Sign in</a></li>
                            <li><a href="elements.html">Design  Elements</a></li>
                            <li><a href="documentation/index.html">Documentation <span class="label label-danger">new</span></a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
}


@*<a href="@item.Url">@item.Caption<span class="active-border"><span></span></span></a>*@