@using dst_website.Models
@model IList<dst_website.Models.MenuItemViewModel>

@foreach (MenuItemViewModel item in Model)
{
    <li class="parent">
        <a href="@item.Url">@item.Caption</a>
    </li>
}


@*<a href="@item.Url">@item.Caption<span class="active-border"><span></span></span></a>*@
