h1 {
  font-size: 28px;
}
h2 {
  font-size: 23px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
.boxed {
  padding-top: 0;
}
/*.boxed .page-box, .boxed .header-wrapper {
    background-color: @spacegray;
    color: @steelgray;
}

.header .primary .navbar .nav > li > a {
    font-size: @font-size-large;
        color: @spacegray;
}*/
/*.fixed-header.background-opacity .header-wrapper {
        background-color: @spacegray;
        color: @steelgray;
}*/
.header .primary .navbar .nav > li > a,
.header .primary .navbar .nav > li > a:visited {
  color: #292929;
}
#boxed-bg {
  background: #292929 url('/Content/images/noise.png');
  background-position: center center;
}
#top-box,
.carousel-box .next:hover,
.carousel-box .prev:hover,
.product .product-hover,
#footer .up:hover,
.btn,
.btn:visited,
.slider .slider-nav,
.active .accordion-heading .accordion-toggle,
.banner-set .pagination a:hover,
.employee .employee-hover,
.carousel-box .pagination a:hover,
.sidebar .menu li.active  > a,
.pagination ul  > li  > a:hover,
.sidebar .tags a:hover,
.sidebar .banners .banner-text,
#catalog .category-img .description,
.county-days-wrapper,
.county-hours-wrapper,
.county-minutes-wrapper,
.county-seconds-wrapper,
.product-bottom .related-products header:before,
#slider.rs-slider .tparrows:hover,
.toolbar .sort-catalog .dropdown-toggle,
.toolbar .grid-list .grid,
.toolbar .grid-list .list,
.toolbar .up-down,
.toolbar .up-down.active,
.toolbar .grid-list a.grid:hover,
.toolbar .grid-list a.list:hover,
.pagination ul  > .active  > a,
.pagination ul  > .active  > span,
.sidebar .tags a,
.sidebar .menu li.parent  > a .open-sub:before,
.sidebar .menu li.parent  > a .open-sub:after,
.accordion-heading .accordion-toggle:before,
.accordion-heading .accordion-toggle:after,
.new-radio.checked span,
.list .product .actions a:hover,
.product-page .span7 .actions a:hover,
.product-page .image-box .thumblist-box .prev:hover,
.product-page .image-box .thumblist-box .next:hover,
.btn.btn-inverse:hover,
.btn.btn-inverse:focus,
.btn.btn-inverse:active,
.btn.btn-inverse.active,
.btn.btn-inverse.disabled,
.btn.btn-inverse[disabled],
.accordion-tab  > li  > a .open-sub:before,
.accordion-tab  > li  > a .open-sub:after,
.products-tab .accordion-tab  > li  > a .open-sub:before,
.products-tab .accordion-tab  > li  > a .open-sub:after {
  background-color: #ffaa26;
}
.slider .slider-nav {
  background-color: #ffaa26;
}
.county-days-wrapper,
.county-hours-wrapper,
.county-minutes-wrapper,
.county-seconds-wrappe,
.product .product-hover,
.rotation .employee-hover {
  background-color: #ffaa26;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #ffaa26;
}
#catalog .category-img .description,
.toolbar .sort-catalog .dropdown-toggle,
.toolbar .grid-list .grid,
.toolbar .grid-list .list,
.toolbar .up-down,
.toolbar .up-down.active,
.pagination ul  > .active  > a,
.pagination ul  > .active  > span,
.sidebar .tags a {
  background-color: #ffaa26;
}
.sidebar .banners .banner-text {
  background-color: #ffaa26;
}
#slider.rs-slider .tparrows,
.product-page .add-cart-form .number .regulator a:hover {
  background-color: #ffaa26;
}
.pricing {
  background-color: rgba(248, 148, 6, 0.06);
}
.pricing .bottom-box {
  background-color: rgba(248, 148, 6, 0.05);
}
.pricing .bottom-box .more {
  background-color: #ffd28c;
}
.pricing .options li {
  color: #ffd28c;
}
.pricing .options li,
.pricing .bottom-box {
  border-color: rgba(248, 148, 6, 0.1);
}
.header .cart-header .dropdown-toggle,
#footer .newsletter input:focus + .submit,
.icon,
.big-icon,
.big-icon:visited,
.service .icon,
.close:hover,
.close:focus,
.img-thumbnail:hover .bg-images i:before,
.box-404 h1,
.gallery-images:hover .bg-images i:before,
.features-block .header-box .icon-box,
.features-block .header-box,
.sidebar .newsletter input:focus + .submit,
.sidebar .section .selected .close:hover,
.package .title a,
.package .price-box .price,
.package .price-box .icon,
.pricing .title a,
.pricing .options li span,
.pricing .options li.active {
  color: #ffaa26;
}
.phone-header a svg path,
.search-header a svg path,
.product .actions a svg path,
.product-remove:hover path,
.sidebar .wishlist .add-cart:hover path,
.header .cart-header .dropdown-toggle .icon svg path,
.search-active .search-submit svg path,
.search-result .search-submit svg path,
.new-checkbox svg polygon,
.product-bottom .related-products li .button-box .wishlist:hover svg path,
.jslider .jslider-pointer svg path,
.rating-box .rating svg polygon {
  fill: #00bbe4;
}
@media (max-width: 979px) {
  .header .primary .navbar .nav > .parent.active > a,
  .header .primary .navbar .nav > .parent.active:hover > a,
  .header .primary .navbar .nav .open-sub span,
  .header .primary .navbar .btn-navbar .icon-bar,
  .header.header-two .primary .navbar .btn-navbar.collapsed .icon-bar,
  .accordion-tab > .active > a,
  .accordion-tab > .active:hover > a,
  .products-tab .accordion-tab > .active > a,
  .products-tab .accordion-tab > .active:hover > a {
    background-color: #ffaa26;
  }
}
.carousel-box .pagination a.selected,
.banner-set .pagination a.selected {
  background: #ccc;
  background: rgba(0, 0, 0, 0.3);
}
.navbar-inverse .brand,
.navbar-inverse .nav  > li  > a,
.btn-group.btn-select .dropdown-toggle,
.product .product-hover,
.employee .employee-hover,
.slider .slid-content {
  color: #fff;
}
.product .product-hover ul li {
  background-image: url("img/svg/check-icon-white.svg"), none;
}
/*# sourceMappingURL=colorOverride.css.map */