<header>
    <div class="container">
        <div class="logo"><a class="brand" href="/"> <img src="~/Content/images/dst-logo-100px-transparent.png" alt="optional logo"> <span class="logo_title">Cleanstart</span></a></div>
        <div id="mainmenu" class="menu_container">
            <label class="mobile_collapser">MENU</label>
            <!-- Mobile menu title -->
            <ul>
                @{ Html.RenderAction("Index", "DSTSiteMap", string.Empty); }
            </ul>
        </div>
        <div class="triangle-up-left"></div>
        <div class="triangle-up-right"></div>
    </div>
</header>