@charset "utf-8";



		.headTweak4 {
		postion: realtive;
		width:100%;
		padding-left:5px;
		padding-right:25px;
		text-align:center;
		Margin-top:60px;
		}

		/* IN SOURCE: Build Controls Integration Intro Box page left*/
		.introBox {
		position: relative;
		width: 475px;
		height: 100%;
		margin-left:20px;
		padding-right:5px;
		padding-left:0px;
		margin-top: 20px;
		margin-bottom: 15px;
		background:#F3F3F3;
		Float:left;
		}
		
		.skillsBox {
		position: relative;
		width: 480px;
		height: 100%;
		margin-left:20px;
		padding-right:0px;
		padding-left:0px;
		margin-top: 20px;
		margin-bottom: 10px;
		background:#F3F3F3;
		Float:right;
		}
		
		.panelPic {
		float:right;
		width: 400px;
		height: 200px;
		margin-right:40px;
		}
		
		
		/* IN SOURCE: Format Intro Box Headline*/
		.introHead {
		font-family: "proxima-nova-soft",sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size:24px;
		color:#030303;
		text-align:center;
		padding-left:8px;
		padding-right:8px;
		margin-top:12px;
		margin-bottom:5px;
		}
		
		/* IN SOURCE: Format Intro Box Body Text*/
		.bodyTweak6 {
	 	text-align:left;
		padding-top:5px;
		padding-left: 10px;
		padding-right:5px;
	  	color:#000;
		}
		

		/* Give fancy Pharma pic some space */
		#picSpaceA {
		width: 155px;
		height: 216px;
		float:left;
		margin-right: 12px;
		/*margin-top:0 auto;*/
		}


		#picSpaceB {
		width: 155px;
		height: 256px;
		float:right;
		margin-left: 12px;
		margin-top:9%;
		/*margin-bottom:0 auto;*/
		}

		.roundPicA {
		border-top-left-radius:19px 19px;
		border-top-right-radius:1px 1px;
		border-bottom-left-radius:1px 1px;
		border-bottom-right-radius:1px 1px;
		}
		
		.roundPicB {
		border-top-left-radius:1px 1px;
		border-top-right-radius:1px 1px;
		border-bottom-left-radius:1px 1px;
		border-bottom-right-radius:17px 17px;
		}