/* IN SOURCE: Build "Collect Data..." Header Box Page Right*/

.collectHeader {
  position: relative;
  width: 480px;
  height: 30px;
  margin-top: 50px;
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-stretch: extra-expanded;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-left: 530px;
  background-color: #77d4ff;
}
/* IN SOURCE: Header Text for collectHeader*/

.HeaderText {
  border-bottom: 1px;
  border-bottom-color: #030303;
  border-bottom-style: solid;
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #000080;
  text-align: center;
  margin-bottom: 2px;
}
/*4 IN SOURCE: Put the Blue Arrow up*/

.buildArrow {
  position: relative;
  width: 260px;
  height: 54px;
  float: left;
  margin-top: 8px;
  margin-bottom: 3px;
  background-image: url(../_images/BlueArrow8.gif);
  background-repeat: no-repeat;
  background-position: center
}
/* IN SOURCE: Build IT Intro Box page left*/

.introBox {
  position: relative;
  width: 469px;
  height: 672px;
  margin-left: 20px;
  padding-right: 6px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #F3F3F3;
  Float: left;
}
.headTweak {
  text-align: center;
  Margin-top: 60px;
}
/* IN SOURCE: Format Intro Box Body Text*/

.bodyTweak {
  border-top-left-radius: 20px 20px;
  text-align: left;
  padding-left: 8px;
  padding-right: 1px;
  color: #000;
}
/* IN SOURCE: Build Expo Box page right*/

.buildexpoBox {
  position: relative;
  width: 452px;
  height: 440px;
  margin-right: 20px;
  padding-right: 6px;
  padding-right: 6px;
  margin-top: 20px;
  margin-bottom: 0px;
  background: #F3F3F3;
  Float: right;
}
/* IN SOURCE: Build Expo Box page right*/

.buildNoteBox {
  position: relative;
  width: 452px;
  height: 218px;
  margin-right: 20px;
  padding-right: 6px;
  padding-right: 6px;
  margin-top: 10px;
  margin-bottom: 0px;
  background: #F3F3F3;
  Float: right;
}
.headTweak1 {
  color: #030303;
  text-align: center;
  padding: 8px;
}
/* IN SOURCE: Format Expo Box Body Text*/

.expoText {
  border: thin;
  border-top-left-radius: 20px 20px;
  font-family: "nimbus-sans-condensed", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding-left: 8px;
  padding-right: 1px;
  color: #000;
}
/* IN SOURCE: Position the Inside Panel pic */

.posPic {
  width: 469px;
  height: 204px;
  border: 0px;
  vertical-align: central;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}
.posPic2 {
  width: 452px;
  height: 100px;
  border: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0 auto;
}
.bulletText {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-style: normal;
  font-size: 14px;
}
/*Bottom Layout Text Container*/

#TextPicWrap {
  text-align: left;
  color: #d6d1d1;
  padding-left: 10px;
  padding-right: 5px;
}
.formatReadingText {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFF;
  line-height: 95%;
}
.pixHeader {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-variant: small-caps;
  color: #FC6907;
  padding-left: 15px;
  margin-bottom: 6px;
}
.picContainer {
  display: inline-table;
  width: 1020px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.picRow {
  display: inline;
  float: left;
  height: 100px;
  padding-bottom: 65px;
}
.textRow {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  vertical-align: central;
  margin-left: 4px;
  margin-right: 17px;
  padding-top: 10px;
  float: left;
}