@charset "utf-8";
.indDataButs {
  Position: absolute;
  top: 95px;
  width: 378px;
  height: 24px;
  Margin-left: 640px;
}
.butDisplay2 {
  display: inline-block;
  height: 24px;
  width: 82px;
  margin-left: 3px;
}
/* IN SOURCE: Build "Collect Data..." Header Box Page Right*/

.collectHeader {
  position: relative;
  width: 365px;
  height: 28px;
  margin-top: 20px;
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-left: 635px;
  background-color: #77d4ff;
}
.headerText {
  width: 1000px;
  table-layout: auto;
  text-align: left;
  margin-top: 56px;
  margin-left: 10px;
  margin-bottom: 15px;
}
/*4 IN SOURCE: Put the Blue Arrow up*/

.buildArrow {
  position: relative;
  width: 260px;
  height: 54px;
  float: left;
  margin-top: 4px;
  margin-bottom: 10px;
  background-image: url(../_images/BlueArrow8.gif);
  background-repeat: no-repeat;
  background-position: center
}
/* IN SOURCE: Build IT Intro Box page left*/

.introBox {
  position: relative;
  width: 550px;
  height: 100%;
  margin-left: 6px;
  padding-right: 4px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: #F3F3F3;
  Float: left;
}
/* IN SOURCE: Format Intro Box Headline*/

.introHead {
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  color: #030303;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  text-align: left;
  padding-bottom: 15px;
}
/* IN SOURCE: Format Intro Box Body Text*/

.bodyText {
  border: thin;
  border-top-left-radius: 20px 20px;
  text-align: left;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 5px;
  color: #000;
}
/* IN SOURCE: Build Expo Box page right*/

.buildexpoBox {
  position: relative;
  width: 390px;
  height: 100%;
  margin-left: 8px;
  padding-right: 5px;
  margin-top: 20px;
  margin-bottom: 23px;
  background-color: #006;
  Float: right;
}
/* IN SOURCE: Format Expo and Training Box Headline*/

.expoHead {
  text-align: left;
  padding-left: 8px;
  padding-top: 6px;
  padding-bottom: 12px;
}
/* IN SOURCE: Format Expo Box Body Text*/

.expoText {
  border: thin;
  border-top-left-radius: 20px 20px;
  font-family: "nimbus-sans-condensed", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
  margin-left: 28px;
  color: #000;
}
.makepayText {
  border: thin;
  border-top-left-radius: 20px 20px;
  text-align: left;
  padding-left: 15px;
  padding-right: 5px;
  margin-left: 28px;
}
.buildtrainBox {
  position: relative;
  width: 390px;
  height: 100%;
  margin-left: 8px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 15px;
  background: #F3F3F3;
  Float: right;
}
/* IN SOURCE: Position the Turbine pic */

.posPic {
  width: 496px;
  height: 200px;
  border: 0px;
  text-align: center;
  background-color: #181818;
  margin-top: 0px;
  border-bottom-left-radius: 16px 16px;
  border-bottom-right-radius: 16px 16px;
}
.roundPicC {
  float: left;
  margin-right: 10px;
  margin-botton: 15px;
  border-top-left-radius: 19px 19px;
  border-top-right-radius: 1px 1px;
  border-bottom-left-radius: 1px 1px;
  border-bottom-right-radius: 1px 1px;
}
.expoFoot {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  font-variant: small-caps;
  color: #EBEBEB;
  background-color: #09F;
  text-align: center;
}
.expoFootText {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background-color: #09F;
  color: #EBEBEB;
  text-align: center;
  padding-left: 10px;
  border-bottom-left-radius: 16px 16px;
  border-bottom-right-radius: 16px 16px;
}
.flowPic {
  width: 821px;
  height: 365px;
  background-image: url(../_images/IndITPic.png);
  vertical-align: central;
  padding-left: 0px;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
}
.flowText {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  padding-top: 80px;
  padding-left: 615px;
  padding-right: 10px;
}