/******************************
*
*  RoyalSlider Universal Skin
*
*    1. Arrows 
*    2. Bullets
*    3. Thumbnails
*    4. Tabs
*    5. Fullscreen button
*    6. Play/close video button
*    7. Preloader
*    8. Caption
*    
*  Sprite: 'rs-universal.png'
*  Feel free to edit anything
*  If you don't some part - just delete it
* 
******************************/


/* Background */
.rsUni, .rsUni .rsOverflow, .rsUni .rsSlide, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {
    background: #222;
    color: #FFF;
}

/***************
*
*  1. Arrows
*
****************/

.rsUni .rsArrow {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    width: 60px;
    z-index: 21;
}

.rsUni.rsVer .rsArrow {
    height: 60px;
    width: 100%;
}

.rsUni.rsVer .rsArrowLeft {
    left: 0;
    top: 0;
}

.rsUni.rsVer .rsArrowRight {
    bottom: 0;
    left: 0;
}

.rsUni.rsHor .rsArrowLeft {
    left: 0;
    top: 0;
}

.rsUni.rsHor .rsArrowRight {
    right: 0;
    top: 0;
}

.rsUni .rsArrowIcn {
    background: url('rs-universal.png');
    border-radius: 2px;
    cursor: pointer;
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 32px;
}

.rsUni .rsArrow:hover .rsArrowIcn {
    opacity: 1;
}

.rsUni.rsHor .rsArrowLeft .rsArrowIcn {
    background-position: -64px -32px;
}

.rsUni.rsHor .rsArrowRight .rsArrowIcn {
    background-position: -64px -64px;
}

.rsUni.rsVer .rsArrowLeft .rsArrowIcn {
    background-position: -96px -32px;
}

.rsUni.rsVer .rsArrowRight .rsArrowIcn {
    background-position: -96px -64px;
}

.rsUni .rsArrowDisabled .rsArrowIcn {
    *display: none;
    filter: alpha(opacity=20);
    opacity: .1 !important;
}

/***************
*
*  2. Bullets
*
****************/

.rsUni .rsBullets {
    height: auto;
    line-height: 5px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 35;
}

.rsUni .rsBullet {
    display: inline-block;
    *display: inline;
    height: 8px;
    padding: 5px;
    width: 8px;
    *zoom: 1;
}

.rsUni .rsBullet span {
    background: #BBB;
    border-radius: 50%;
    display: block;
    height: 8px;
    width: 8px;
}

.rsUni .rsBullet.rsNavSelected span {
    background-color: #383838;
}

/***************
*
*  3. Thumbnails
*
****************/

.rsUni .rsThumbsHor {
    height: 72px;
    width: 100%;
}

.rsUni .rsThumbsVer {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 96px;
}

.rsUni.rsWithThumbsHor .rsThumbsContainer {
    height: 100%;
    position: relative;
}

.rsUni.rsWithThumbsVer .rsThumbsContainer {
    position: relative;
    width: 100%;
}

.rsUni .rsThumb {
    float: left;
    height: 72px;
    overflow: hidden;
    width: 96px;
}

.rsUni .rsThumb img {
    height: 100%;
    width: 100%;
}

.rsUni .rsThumb.rsNavSelected {
    background: #333;
}

.rsUni .rsThumb.rsNavSelected img {
    filter: alpha(opacity=30);
    opacity: 0.7;
}

.rsUni .rsThumb.rsNavSelected .thumbIco {
    -webkit-backface-visibility: hidden;
    border: 2px solid #FFF;
    border: 2px solid rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.rsUni .rsTmb {
    display: block;
}

/* Thumbnails with text */

.rsUni .rsTmb h5 {
    color: #FFF;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.rsUni .rsTmb span {
    color: #DDD;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

/* Thumbnails arrow icons */

.rsUni .rsThumbsArrow {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    width: 20px;
    z-index: 21;
}

.rsUni .rsThumbsArrow:hover {
}

.rsUni.rsWithThumbsVer .rsThumbsArrow {
    height: 20px;
    width: 100%;
}

.rsUni.rsWithThumbsVer .rsThumbsArrowLeft {
    left: 0;
    top: 0;
}

.rsUni.rsWithThumbsVer .rsThumbsArrowRight {
    bottom: 0;
    left: 0;
}

.rsUni.rsWithThumbsHor .rsThumbsArrowLeft {
    left: 0;
    top: 0;
}

.rsUni.rsWithThumbsHor .rsThumbsArrowRight {
    right: 0;
    top: 0;
}

.rsUni .rsThumbsArrowIcn {
    background: url('rs-universal.png') transparent;
    cursor: pointer;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.rsUni.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -128px -32px;
}

.rsUni.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -128px -48px;
}

.rsUni.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -144px -32px;
}

.rsUni.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -144px -48px;
}

.rsUni .rsThumbsArrowDisabled {
    display: none !important;
}

/* Thumbnails resizing on smaller screens */

@media screen and (min-width: 0px) and (max-width: 800px) {
    .rsUni .rsThumb {
        height: 44px;
        width: 59px;
    }

    .rsUni .rsThumbsHor {
        height: 44px;
    }

    .rsUni .rsThumbsVer {
        width: 59px;
    }
}

/***************
*
*  4. Tabs
*
****************/

.rsUni .rsTabs {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 12px;
    position: relative;
    text-align: center;
    width: 100%;
}

.rsUni .rsTab {
    background: #FFF;
    border: 1px solid #D9D9DD;
    border-right: none;
    *border-right: 1px solid #d9d9d9;
    color: #333;
    cursor: pointer;
    display: inline-block;
    *display: inline;
    height: auto;
    min-width: 72px;
    padding: 5px 13px 6px;
    text-align: center;
    text-decoration: none;
    width: auto;
    *zoom: 1;
}

.rsUni .rsTab:first-child {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

.rsUni .rsTab:last-child {
    border-bottom-right-radius: 16px;
    border-right: 1px solid #D9D9DD;
    border-top-right-radius: 16px;
}

.rsUni .rsTab:active {
    background-color: #f4f4f4;
}

.rsUni .rsTab.rsNavSelected {
    background: #383838;
    border-color: #383838;
    color: #FFF;
}

/***************
*
*  5. Fullscreen button
*
****************/

.rsUni .rsFullscreenBtn {
    cursor: pointer;
    display: block;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 22;
}

.rsUni .rsFullscreenIcn {
    background: url('rs-universal.png') 0 0 transparent;
    border-radius: 2px;
    display: block;
    height: 32px;
    margin: 6px;
    opacity: 0.7;
    width: 32px;
}

.rsUni .rsFullscreenBtn:hover .rsFullscreenIcn {
    opacity: 1;
}

.rsUni.rsFullscreen .rsFullscreenIcn {
    background-position: -32px 0;
}

/***************
*
*  6. Play/close video button
*
****************/

.rsUni .rsPlayBtn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
}

.rsUni .rsPlayBtnIcon {
    -moz-transition: .3s;
    -webkit-border-radius: 4px;
    -webkit-transition: .3s;
    background: url(rs-universal.png) no-repeat 0 -32px;
    background-color: #383838;
    background-color: rgba(0, 0, 0, 0.75);
    *background-color: #383838;
    border-radius: 4px;
    display: block;
    height: 64px;
    transition: .3s;
    width: 64px;
}

.rsUni .rsPlayBtn:hover .rsPlayBtnIcon {
    background-color: rgba(0, 0, 0, 0.9);
}

.rsUni .rsBtnCenterer {
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 20px;
}

.rsUni .rsCloseVideoBtn {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    cursor: pointer;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 500;
}

.rsUni .rsCloseVideoBtn.rsiOSBtn {
    right: -6px;
    top: -38px;
}

.rsUni .rsCloseVideoIcn {
    background: url('rs-universal.png') -64px 0;
    background-color: #383838;
    background-color: rgba(0, 0, 0, 0.75);
    *background-color: #383838;
    height: 32px;
    margin: 6px;
    width: 32px;
}

.rsUni .rsCloseVideoIcn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/***************
*
*  7. Preloader
*
****************/

.rsUni .rsPreloader {
    background-image: url(../preloaders/preloader-white.gif);
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    top: 50%;
    width: 20px;
}

/***************
*
*  8. Global caption
*
****************/

.rsUni .rsGCaption {
    background: #222;
    border-radius: 2px;
    bottom: 6px;
    color: #FFF;
    float: none;
    font-size: 12px;
    left: 6px;
    padding: 2px 8px;
    position: absolute;
    text-align: left;
    width: auto;
}