/* v1.0.5 */
/* Core RS CSS file. 95% of time you shouldn't change anything here. */
.royalSlider {
    direction: ltr;
    height: 400px;
    position: relative;
    width: 600px;
}

.royalSlider > * {
    float: left;
}

.rsWebkit3d .rsSlide {
    -webkit-transform: translateZ(0);
}

.rsWebkit3d .rsSlide, .rsWebkit3d .rsContainer, .rsWebkit3d .rsThumbs, .rsWebkit3d .rsPreloader, .rsWebkit3d img, .rsWebkit3d .rsOverflow, .rsWebkit3d .rsBtnCenterer, .rsWebkit3d .rsAbsoluteEl, .rsWebkit3d .rsABlock, .rsWebkit3d .rsLink {
    -webkit-backface-visibility: hidden;
}

.rsFade.rsWebkit3d .rsSlide, .rsFade.rsWebkit3d img, .rsFade.rsWebkit3d .rsContainer {
    -webkit-transform: none;
}

.rsOverflow {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.rsVisibleNearbyWrap {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

.rsVisibleNearbyWrap .rsOverflow {
    left: 0;
    position: absolute;
    top: 0;
}

.rsContainer {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    position: relative;
    width: 100%;
}

.rsArrow, .rsThumbsArrow {
    cursor: pointer;
}

.rsThumb {
    float: left;
    position: relative;
}

.rsArrow, .rsNav, .rsThumbsArrow {
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.rsHidden {
    -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    visibility: hidden;
}

.rsGCaption {
    float: left;
    text-align: center;
    width: 100%;
}

/* Fullscreen options, very important ^^ */

.royalSlider.rsFullscreen {
    bottom: 0 !important;
    height: auto !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
    z-index: 2147483647 !important;
}

.royalSlider .rsSlide.rsFakePreloader {
    -moz-transition: 0s;
    -o-transition: 0s;
    -webkit-transition: 0s;
    display: none;
    opacity: 1 !important;
    transition: 0s;
}

.rsSlide {
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide {
    height: auto;
}

.rsContent {
    height: 100%;
    position: relative;
    width: 100%;
}

.rsPreloader {
    position: absolute;
    z-index: 0;
}

.rsNav {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}

.rsNavItem {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
}

.rsThumbs {
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 22;
}

.rsTabs {
    background: none !important;
    float: left;
}

.rsTabs, .rsThumbs {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rsVideoContainer {
    height: auto;
    line-height: 0;
    position: relative;
    /*left: 0;
	top: 0;
	position: absolute;*/
    /*width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	float: left;*/
    width: auto;
}

.rsVideoFrameHolder {
    -webkit-transition: .3s;
    background: #141414;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

.rsVideoFrameHolder.rsVideoActive {
    opacity: 1;
}

.rsVideoContainer iframe, .rsVideoContainer video, .rsVideoContainer embed, .rsVideoContainer .rsVideoObj {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
}

/* ios controls over video bug, shifting video */

.rsVideoContainer.rsIOSVideo iframe, .rsVideoContainer.rsIOSVideo video, .rsVideoContainer.rsIOSVideo embed {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 44px;
}

.rsABlock {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 15;
}

img.rsImg {
    max-width: none;
}

.rsNoDrag {
    cursor: auto;
}

.rsLink {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}