/*reusable*/
.back-link {
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: 400;
}

/*right sidebar*/

.social-logo a {
    background-image: url('images/social-icons.png');
    float: left;
    height: 51px;
    margin: 0 0 15px 15px;
    text-indent: -9999px;
    width: 50px;
}

.social-logo a:first-child {
    margin-left: 0;
}

.social-logo a:hover {
    -moz-animation: show-screen 1s 0;
    -webkit-animation: show-screen 1s 0;
    animation: show-screen 1s 0;
}

@keyframes show-screen {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes show-screen {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes show-screen {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.facebook {
    background-position: 0 0;
}

.twitter {
    background-position: -65px 0;
}

.linkedin {
    background-position: -129px 0;
}

.skype {
    background-position: 0 -55px;
}

.youtube {
    background-position: -65px -55px;
}

.flickr {
    background-position: -129px -55px;
}

.facebook:hover {
    background-position: 0 -129px;
}

.twitter:hover {
    background-position: -65px -129px;
}

.linkedin:hover {
    background-position: -129px -129px;
}

.skype:hover {
    background-position: 0 -184px;
}

.youtube:hover {
    background-position: -65px -184px;
}

.flickr:hover {
    background-position: -129px -184px;
}

/*home page*/

.home-banner {
    border: 3px solid #2eadd5;
    height: 360px;
    margin-bottom: 35px;
}

.banner-image {
    float: left;
    height: 360px;
    width: 617px;
}

.banner-image div {
    display: block;
    height: 360px;
    position: relative;
    width: 617px;
}

.banner-image div img {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}

.banner-text {
    margin: 50px 0 0 24px;
    position: relative;
    width: 370px;
    z-index: 1;
}

.banner-text h1 {
    color: #2dacd4;
    font-size: 30px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner-text h2 {
    font-size: 20px;
    font-weight: 700;
}

.banner-nav {
    background-color: #38393c;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.5);
    float: right;
    height: 100%;
    position: relative;
    width: 317px;
    z-index: 6;
}

.banner-nav .block {
    height: 143px;
}

.banner-nav .block p {
    color: #ffffff;
    font-size: 13px;
    margin: 0;
    padding: 0 25px 20px;
}

.pagination {
    display: none;
}

.banner-link {
    background-color: #444549;
    box-shadow: inset 0 2px 0 0 rgba(46, 198, 255, 0.03);
    color: #46c3ea;
    cursor: pointer;
    display: block;
    font-size: 18px;
    height: 53px;
    line-height: 53px;
    margin: 1px 1px 0;
    overflow: hidden;
    padding: 0 24px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.banner-link:hover {
    text-decoration: none;
}

.banner-nav a.selected:before {
    background: url('images/icn-banner-arrow.png') no-repeat center center;
    content: "";
    height: 21px;
    left: -11px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 12px;
}

.banner-nav a.selected {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: #fff;
    font-size: 22px;
    height: 47px;
    line-height: 26px;
    overflow: visible;
    padding-top: 6px;
    white-space: normal;
}

.banner-nav a.selected + .block {
}

.home-bottom article {
    float: left;
    width: 595px;
}

.home-gallery {
    float: right;
    width: 300px;
}

/*pages content*/

.content-article {
    padding-top: 20px;
}

.content-article h2 {
    margin-top: 0;
}

.content-image-1 {
    border: 1px solid #38393c;
    height: 330px;
    overflow: hidden;
    position: relative;
}

.content-image-1 .info-box {
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
}

.content-image-1 h2 {
    margin-bottom: 15px;
}

.content-image-1 h3 {
}

.content-image-2 {
    border: 1px solid #38393c;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.content-image-2 .info-box {
    bottom: 0;
    left: 0;
    top: 0;
    width: 315px;
}

.content-image-2 img {
    float: right;
}

.content-image-2 h2 {
    margin: 20px 0;
}

.info-box {
    background: #38393c;
    padding: 15px 20px 0;
    position: absolute;
}

.info-box h2 {
    color: #2dacd4;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.info-box h3 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.quotation {
    background: #fafafa;
    border: 1px solid #e1e1e1;
    margin-bottom: 50px;
    padding: 15px 35px;
    position: relative;
}

.quotation:before {
    background: url('images/bg-header.png');
    border-right: 1px solid #e1e1e1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.quotation h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-style: italic;
    font-weight: 700;
    line-height: 26px;
}

.quotation dd {
    color: #282a2e;
    line-height: 30px;
    margin: 0;
}

.quotation span {
    background-color: #2eadd5;
    display: inline-block;
    height: 10px;
    margin-right: 15px;
    width: 10px;
}

/*blog feed*/

.blog-box {
    border-top: 1px solid #e1e1e1;
    padding: 0 0 20px;
}

.blog-box h4 {
    font-size: 15px;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-box a {
    color: #38393c;
}

.blog-box a:hover {
    color: #2eadd5;
    text-decoration: none;
}

.blog-info {
    padding-bottom: 3px;
}

.blog-info time {
    float: right;
    padding-top: 2px;
}

/*blog home page*/

.author {
    background: url('images/icn-author.png') no-repeat left center;
    color: #38393C;
    font-size: 12px;
    line-height: 15px;
    padding: 0 5px 0 21px;
}

.blog-post {
    border-top: 1px solid #e1e1e1;
    padding: 40px 0 38px;
}

.blog-post:first-child {
    border-top: 0;
    padding-top: 0;
}

.blog-post h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.blog-post h1 a {
    color: #38393c;
}

.blog-post h1 a:hover {
    color: #2eadd5;
    text-decoration: none;
}

.single-tag {
    border-right: 1px solid #efefef;
    font-size: 14px;
    line-height: 15px;
    margin-left: -4px;
    padding: 0 10px;
}

.single-tag:first-child {
    background: url('images/icn-tag.png') no-repeat left center;
    margin-left: 55px;
}

.single-tag:last-child {
    border-right: 0;
}

/*blog post*/

.blogpost-head {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.blogpost-head h1 {
    font-size: 24px;
    margin: 0;
}

.blogpost-head span {
    font-size: 14px;
}

.blogpost-head time {
    font-size: 14px;
}

/*contacts page*/

.contact-info {
    float: left;
    width: 540px;
}

.contact-info h2 {
    font-weight: 700;
}

.contact-address {
    color: #282a2e;
    float: left;
    max-width: 220px;
}

.contact-address dt {
    font-weight: 700;
    line-height: 26px;
}

.contact-address dd {
    line-height: 26px;
    margin: 0;
}

.contact-social {
    float: right;
    width: 270px;
}

/*.contact-form {
    float: right;
    width: 300px;
    padding: 22px;
    margin-top: 0;
    border: 1px solid #ececec;
    background: url('images/bg-header.png');
}

    .contact-form h2 {
        font-weight: 700;
    }*/

.contact-map {
    float: left;
}

.map {
    border: 1px solid #a1a09d;
    height: 290px;
    width: 540px;
}