/*
	Apex by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.75em;
		font-size: 9.5pt;
	}

	h2
	{
		font-size: 1.5em;
		margin: 0 0 1.5em 0;
		letter-spacing: -1px;
	}

	section, article
	{
		clear: both;
		margin: 0 0 5em 0;
	}

	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0 !important;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0 !important;
	}

		section header, article header
		{
			border-top: solid 5px #00a6eb;
			padding-top: 2em;
			margin: 0 0 2.5em 0;
		}
		
			section header h2, article header h2
			{
				margin: 0 0 0.5em 0 !important;
			}

			section.featured header h2, article.featured header h2
			{
				font-size: 2em;
				letter-spacing: -2px;
				margin: 0.25em 0 0.75em 0;
				line-height: 1em;
			}
			
			section header .byline, article header .byline
			{
				display: block;
				color: #a0a0a0;
				font-size: 1.25em;
				line-height: 1em;
			}
			
			section.featured header .byline, article.featured header .byline
			{
				font-size: 1.5em;
				letter-spacing: -1px;
			}

	.align-left
	{
		margin-bottom: 1em;
	}

	.image-fit-mobileOnly
	{
		display: block;
		margin: 0 0 2em 0;
		width: 100%;
	}

		.image-fit-mobileOnly img
		{
			width: 100%;
		}

	.button
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		font-size: 1.25em;
	}
	
		.button:before
		{
			content: '';
			display: block;
			position: absolute;
			right: 1.75em;
			bottom: 1.6em;
			border-left: solid 5px #fff;
			border-top: solid 5px transparent;
			border-bottom: solid 5px transparent;			
		}

	.blocks
	{
	}

		.blocks a
		{
			padding: 1.5em 6.3em 1.5em 1.3em;
			margin: 0 0 0.5em 0;
		}

		.blocks a:after
		{
			right: 20px;
			bottom: 20px;
		}

		.blocks p
		{
			font-size: 1em;
			margin: 0;
		}
		
		.blocks h2
		{
			font-size: 2em;
			margin: 0 0 0.5em 0;
		}		

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		display: none;
	}

	#search-wrapper
	{
		background: #f6f6f6;
		border-bottom: solid 1px #d9d9d9;
		padding: 1.5em 20px 1.5em 20px;
	}

	#main-wrapper
	{
		padding: 4em 20px 4em 20px;
	}

	#footer-wrapper
	{
		background: #f6f6f6;
		border-top: solid 1px #d9d9d9;
		padding: 4em 20px 4em 20px;
	}

		#footer-wrapper section
		{
			margin-bottom: 5em !important;
		}

/*********************************************************************************/
/* Mobile UI                                                                     */
/*********************************************************************************/

	#skel-layers-wrapper
	{
		padding-top: 44px;
	}

	#titleBar
	{
		background: #00a6eb;
		color: #fff;
	}

	#titleBar .title
	{
		display: block;
		text-align: center;
		font-size: 1.25em;
		letter-spacing: -1px;
		line-height: 44px;
	}

		#titleBar .title span
		{
			font-weight: 400;
		}

	#titleBar .toggle
	{
		position: absolute;
		text-indent: -9999px;
		left: 0;
		top: 0;
		width: 70px;
		height: 50px;
	}
	
		#titleBar .toggle:before
		{
			content: '';
			display: block;
			position: absolute;
			background: rgba(0,0,0,0.1) url('images/toggle.svg') 13px 10px no-repeat;
			width: 50px;
			height: 30px;
			top: 7px;
			left: 7px;
		}

		#titleBar .toggle:active:before
		{
			background-color: rgba(0,0,0,0.3);
		}

	#navPanel
	{
		background: #2f2f2f url('images/overlay.png');
		box-shadow: inset -3px 0px 3px 0px #282828;
	}

		#navPanel .link
		{
			display: block;
			color: #aaa;
			text-decoration: none;
			border-top: solid 1px rgba(255,255,255,0.1);
			height: 44px;
			line-height: 44px;
			padding: 0 1.5em 0 1.5em;
		}

		#navPanel .link:first-child
		{
			border-top: 0;
		}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #fff; }
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		width: 100%;
	}

		#banner .nav-next, #banner .nav-previous
		{
			position: absolute;
			top: 0;
			width: 70px;
			height: 100%;
			z-index: 3;
			cursor: pointer;
			transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-webkit-transition: opacity .25s ease-in-out;
			opacity: 0.75;
		}
		
			#banner .nav-next:before, #banner .nav-previous:before
			{
				font-family: FontAwesome;
				text-decoration: none;
				font-size: 72px;
				font-style: normal;
				font-weight: normal;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				
				color: #fff;
				display: block;
				width: 52px;
				height: 64px;
				line-height: 64px;
				position: absolute;
				text-align: center;
				top: 50%;
				left: 50%;
				margin: -32px 0 0 -26px;
			}
		
		#banner .nav-next:hover, #banner .nav-previous:hover
		{
			opacity: 1.0;
		}
	
		#banner .nav-next
		{
			right: 0;
		}

		#banner .nav-next:before
		{
			content: "\f105";
		}

		#banner .nav-previous
		{
			left: 0;
		}

		#banner .nav-previous:before
		{
			content: "\f104";
		}	
		
		#banner .captions
		{
			position: relative;
			background: #2f2f2f url('images/overlay.png');
			color: #fff;
			padding: 1.75em 20px 1.75em 20px;
		}

			#banner .captions .caption-line-1
			{
				font-size: 1.5em;
				letter-spacing: -1px;
				display: block;
				margin: 0 0 0.5em 0;
			}

			#banner .captions .caption-line-2
			{
				font-size: 1.1em;
				color: rgba(255,255,255,0.8);
			}
		
		#banner .viewer
		{
			background: #fff;
		}
		
		#banner .slide
		{
		}
		
			#banner .slide img
			{
				display: block;
				width: 100%;
			}
			
			#banner .slide .link
			{
				position: absolute;
				text-indent: -9999px;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
			
/*********************************************************************************/
/* Search                                                                        */
/*********************************************************************************/

	#search
	{
		position: relative;
	}
	
		#search span
		{
			display: none;
		}
	
		#search form
		{
			display: block;
			position: relative;
		}
		
			#search form input.text
			{
				display: block;
				width: 100%;
				height: 34px;
			}
		
			#search form input.button
			{
				width: 34px;
				height: 34px;
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				z-index: 1;
				border: 0;
				padding: 0;
				opacity: 0;
			}
			
			#search form:before {
				content: "\f002";
				font-family: FontAwesome;
				text-decoration: none;
				font-size: 18px;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;

				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
				background: #00a6eb;
				color: #fff;
				width: 34px;
				height: 34px;
				line-height: 34px;
				text-align: center;
			}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		border-top: solid 1px #d9d9d9;
		text-align: center;
		padding: 2.5em 0 0 0;
		color: #a0a0a0;
	}