@using dst_website.Models
@model IList<MenuItemViewModel>

@foreach (MenuItemViewModel item in Model)
{
    <li>
        <a href="@item.Url">@item.Caption</a>
        @{ Html.RenderAction("SubMenu", "Navigation"); }
    </li>
}